
.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

#card {
  background-image: linear-gradient(to right, #4fb968 20%, #00b2a9 100%);
  color: white;
}

.golden-text {
  background: linear-gradient(90deg, #f9d423, yellow, #f9d423);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: glaze 3s infinite;
  position: relative;
}

@keyframes glaze {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}
