.collapse-btn  button{
    background: linear-gradient(90deg, #00DE92, #00B2A9); 
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.nav-button{
    position: relative;
}

.collapse-btn button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px; 
    border: 2px solid rgba(0, 190, 160, 0.5);
    transition: all 0.3s ease;
}
.collapse-btn  button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 16px; 
    border: 2px solid rgba(0, 190, 160, 0.5); 
    transition: all 0.3s ease;
    animation: pulse-shadow 2s infinite;
}
@keyframes pulse-shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(9, 214, 139, 0.5);
    }
    70% {
      box-shadow: 0 0 20px 20px rgba(29, 178, 64, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(11, 182, 74, 0);
    }
}

@media (min-width: 1400px) and (max-width:2000px) {
    .img-pricing{
        transform: translateX(13%);
    }
}
@media (min-width: 1800px) and (max-width:2000px) {
    .nav-img{
        transform: translateX(7%);
    }
}
@media (min-width: 2000px) and (max-width:2500px) {
    .nav-img{
        transform: translateX(10%);
    }
    .img-pricing{
        transform: translateX(10%);
    }
}

@media (min-width: 2500px) and (max-width:2700px) {
    .nav-img{
        transform: translateX(14%);
    }
}